@model CircleUI.ViewModels.Asset.AssetDetailsViewModel

@{
    ViewData["Title"] = "Asset Details";
}

<h1>Asset Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Id</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">File Name</dt>
        <dd class="col-sm-10">@Model.FileName</dd>

        <dt class="col-sm-2">Mime Type</dt>
        <dd class="col-sm-10">@Model.MimeType</dd>

        <dt class="col-sm-2">Size Bytes</dt>
        <dd class="col-sm-10">@Model.SizeBytes</dd>

        <dt class="col-sm-2">Storage Path</dt>
        <dd class="col-sm-10">@Model.StoragePath</dd>

        <dt class="col-sm-2">User Id</dt>
        <dd class="col-sm-10">@Model.UserId</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
